/* _____Sign up Form CSS _____*/
.loginHero {
    background-image: url('https://t3.ftcdn.net/jpg/01/22/71/96/360_F_122719641_V0yw2cAOrfxsON3HeWi2Sf4iVxhv27QO.jpg');
  }
  
  .loginBtn {
    background-image: linear-gradient(-45deg, #066b74, #1b368d);
  }



.btn-back {
    background-color: #dc1414;
    color: #fff;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
  }
  
  .back-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;
  
  }