body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.homeHero {
    background-image: url('https://wallpapercave.com/wp/wp2890699.jpg');
}
.loginHero{
    background-image: url('https://t3.ftcdn.net/jpg/01/22/71/96/360_F_122719641_V0yw2cAOrfxsON3HeWi2Sf4iVxhv27QO.jpg');
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 25%;
    background-color: #0f1010;
}

.content h1 {
    font-size: 3em;
}

.content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #fff;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    margin-bottom: 5%;
}
.homeBtn{
    background-image:linear-gradient(-45deg, #6a1779,#1b368d);
}
.loginBtn{
    background-image: linear-gradient(-45deg, #066b74, #1b368d);
}
.btn-back {
    background-color: #dc1414;
    color: #fff;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
}

.btn:hover {
    background-color: #1b368d;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.back-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;

}



form p {
    margin: 10% 60% 0 0;
    color: #ffffff;
}