.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://t3.ftcdn.net/jpg/01/22/71/96/360_F_122719641_V0yw2cAOrfxsON3HeWi2Sf4iVxhv27QO.jpg');
}

.content {
  width: 25%;
  background-color: #0f1010;
 
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.back-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid black;

}

.btn {
  background-image: linear-gradient(-45deg, #066b74, #1b368d);
  color: #fff;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  margin-bottom: 5%;
}

.btn-back {
  background-color: #dc1414;
  color: #fff;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
}
.btn:hover {
  background-color: #1b368d;
}

form p {
  margin: 10% 60% 0 0;
  color: #ffffff;
}